@font-face {
  font-family: 'PhonakRotis-Bold';
  src: url("../fonts/PhonakRotis-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PhonakRotis-Bold.woff") format("woff"), url("../fonts/PhonakRotis-Bold.ttf") format("truetype"), url("../fonts/PhonakRotis-Bold.svg#PhonakRotis-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RotisSemiSerifPro-Bold';
  src: url("../fonts/RotisSemiSerifPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RotisSemiSerifPro-Bold.otf") format("opentype"), url("../fonts/RotisSemiSerifPro-Bold.woff") format("woff"), url("../fonts/RotisSemiSerifPro-Bold.ttf") format("truetype"), url("../fonts/RotisSemiSerifPro-Bold.svg#RotisSemiSerifPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.otf") format("opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RotisSansSerifPro-Light';
  src: url("../fonts/RotisSansSerifPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RotisSansSerifPro-Light.otf") format("opentype"), url("../fonts/RotisSansSerifPro-Light.woff") format("woff"), url("../fonts/RotisSansSerifPro-Light.ttf") format("truetype"), url("../fonts/RotisSansSerifPro-Light.svg#RotisSansSerifPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RotisSemiSerifHellenW15-Bd';
  src: url("../fonts/RotisSemiSerifHellenW15-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/RotisSemiSerifHellenW15-Bd.woff") format("woff"), url("../fonts/RotisSemiSerifHellenW15-Bd.ttf") format("truetype"), url("../fonts/RotisSemiSerifHellenW15-Bd.svg#RotisSemiSerifHellenW15-Bd") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ATRotisSansSerif';
  src: url("../fonts/ATRotisSansSerif.eot?#iefix") format("embedded-opentype"), url("../fonts/ATRotisSansSerif.otf") format("opentype"), url("../fonts/ATRotisSansSerif.woff") format("woff"), url("../fonts/ATRotisSansSerif.ttf") format("truetype"), url("../fonts/ATRotisSansSerif.svg#ATRotisSansSerif") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  padding: 0;
  margin: 0;
  font-family: "RotisSemiSerifHellenW15-Bd", arial, helvetica, sans-serif;
  font-size: 16px;
  background: #f2f5f9; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  list-style: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

/*****btn****/
.main-btn {
  font-family: "PhonakRotis-Bold", arial, helvetica, sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  padding: 15px 40px;
  border-radius: 25px;
  text-decoration: none;
  background-color: #403f38;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px; }

.main-btn[disabled] {
  background-color: #ced1d2;
  cursor: default; }

.lite-btn {
  font-family: "RotisSansSerif-ExtraBold", arial, helvetica, sans-serif;
  color: #83837f;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  cursor: auto; }

.lite-btn[disabled] {
  color: #ced1d2;
  cursor: default; }

/***end-btn*****/
.container {
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1400px) {
    .container {
      width: 970px; } }
  @media only screen and (max-width: 1400px) {
    .container {
      width: 850px; } }

.first-page:after {
  content: '';
  position: fixed;
  display: block;
  bottom: 30px;
  right: 30px;
  width: 150px;
  height: 50px;
  background: url("../img/logo.png") no-repeat 50% 50%;
  background-size: 100%; }

.main-header {
  background-color: #8bbc07;
  padding: 20px 0 70px;
  color: white; }
  .main-header h1 {
    font-size: 60px;
    font-family: 'RotisSemiSerifPro-Bold'; }
  .main-header .description-text {
    font-family: "ATRotisSansSerif", arial, helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px; }
  @media only screen and (max-width: 1400px) {
    .main-header {
      padding: 20px 0 50px; }
      .main-header h1 {
        font-size: 40px; }
      .main-header .description-text {
        font-size: 16px; } }

.list-device-classification {
  position: relative;
  top: -30px; }
  .list-device-classification .w50 {
    width: 50%;
    padding-right: 15px;
    float: left; }
  .list-device-classification .item {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer; }
    .list-device-classification .item .wrap-img img {
      width: 100%;
      height: auto;
      display: block; }
    .list-device-classification .item .wrap-text {
      padding: 50px 30px 60px;
      background-color: white; }
      .list-device-classification .item .wrap-text h2 {
        color: #546c79;
        padding-bottom: 20px;
        font-family: "RotisSemiSerifPro-Bold", arial, helvetica, sans-serif; }
      .list-device-classification .item .wrap-text p {
        font-family: "ATRotisSansSerif", arial, helvetica, sans-serif;
        color: #90a2ac;
        letter-spacing: 1px; }
    .list-device-classification .item .btn-select {
      font-family: "PhonakRotis-Bold", arial, helvetica, sans-serif;
      display: block;
      padding: 20px 0;
      text-align: center;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      background-color: #403f38; }
      .list-device-classification .item .btn-select:hover {
        background-color: #83837f; }
    @media only screen and (max-width: 1400px) {
      .list-device-classification .item .wrap-text {
        padding: 30px 30px 30px; } }

/******chose3person****/
.list-persons {
  position: relative;
  margin-top: -30px; }
  .list-persons .w25 {
    width: 25%;
    float: left;
    padding: 5px; }
  .list-persons .item-person {
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .list-persons .item-person img {
      width: 100%;
      height: auto;
      float: left; }
  .list-persons .item-person.check .hover {
    display: block; }
  .list-persons .item-person.not-check .hover {
    display: block;
    background-color: rgba(255, 255, 255, 0.65); }
    .list-persons .item-person.not-check .hover p {
      display: none; }
  .list-persons .hover {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    color: white;
    font-size: 46px;
    font-weight: 600; }
    .list-persons .hover p {
      font-family: "PhonakRotis-Bold", arial, helvetica, sans-serif;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%); }

.number-chosen-people {
  margin: 20px 0;
  color: #83837f;
  padding: 10px 30px;
  border-radius: 35px;
  border: solid 3px #83837f;
  display: inline-block; }
  .number-chosen-people .chosen {
    font-size: 20px; }

.number-chosen-people.ready {
  color: #f2ae0c;
  border: solid 3px #f2ae0c; }

/****table****/
.table-results {
  border-collapse: collapse;
  width: 100%;
  margin: 80px 0; }
  .table-results thead tr td {
    text-transform: uppercase;
    font-family: "ATRotisSansSerif", arial, helvetica, sans-serif;
    color: #99a0af;
    font-size: 14px; }
  .table-results tbody tr td {
    font-family: "PhonakRotis-Bold", arial, helvetica, sans-serif;
    font-size: 30px;
    padding: 10px 0; }
  .table-results tbody tr .number-td {
    font-family: "RotisSansSerifPro-Light", arial, helvetica, sans-serif; }

.wrap-btn.results {
  text-align: center; }

/****new-browse-all-video*****/
.wrap-video-page {
  height: 100vh;
  overflow: hidden; }
  .wrap-video-page .video-fullscreen {
    height: 100%;
    width: calc(100% - 350px);
    float: left; }
    .wrap-video-page .video-fullscreen .logo {
      position: fixed;
      width: 150px;
      height: auto;
      top: 20px;
      left: 20px;
      z-index: 99; }
    .wrap-video-page .video-fullscreen .videoWrapper {
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      .wrap-video-page .video-fullscreen .videoWrapper video {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        object-fit: cover;
        -o-object-fit: cover;
        -moz-object-fit: cover;
        -m-object-fit: cover;
        -webkit-object-fit: cover; }
  .wrap-video-page .aside-header {
    width: 350px;
    float: right; }
    .wrap-video-page .aside-header header {
      background-color: #8bbc07;
      padding: 40px 20px 80px; }
      .wrap-video-page .aside-header header h1 {
        font-family: 'RotisSemiSerifPro-Bold';
        color: white;
        font-size: 60px; }
      .wrap-video-page .aside-header header .description-text {
        color: white;
        padding-top: 20px;
        font-size: 18px;
        font-family: "ATRotisSansSerif", arial, helvetica, sans-serif;
        letter-spacing: 1px; }
    @media only screen and (max-width: 1400px) {
      .wrap-video-page .aside-header header {
        padding: 20px 20px 50px; }
        .wrap-video-page .aside-header header h1 {
          font-size: 40px; }
        .wrap-video-page .aside-header header .description-text {
          color: white;
          padding-top: 16px;
          font-size: 18px; } }

.w33 {
  width: 33.333%;
  float: left;
  padding: 0 5px; }

.wrap-aside {
  padding: 10px; }
  .wrap-aside .control-video-btns {
    width: 340px;
    padding-right: 10px;
    position: fixed;
    bottom: 40px;
    right: 0; }
    .wrap-aside .control-video-btns .main-btn {
      width: 100%;
      margin-bottom: 30px;
      font-family: 'Montserrat-Regular', arial, helvetica, sans-serif; }
    .wrap-aside .control-video-btns .lite-btn {
      font-family: 'Montserrat-Regular', arial, helvetica, sans-serif; }
    .wrap-aside .control-video-btns i {
      padding: 0 10px; }

.fr {
  float: right; }

.fl {
  float: left; }

.list-videos {
  overflow: hidden;
  position: relative;
  top: -30px;
  margin-bottom: 30px; }
  .list-videos li {
    padding-bottom: 10px; }
  .list-videos .wrap-item {
    position: relative;
    border-radius: 3px;
    overflow: hidden; }
    .list-videos .wrap-item:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(155, 155, 155, 0.6);
      position: absolute;
      top: 0;
      left: 0; }
    .list-videos .wrap-item img {
      width: 100%;
      height: auto;
      float: left; }
    .list-videos .wrap-item .number-video {
      font-size: 46px;
      font-family: "PhonakRotis-Bold", arial, helvetica, sans-serif;
      color: white;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .list-videos .counter-video {
    border: solid 2px #989faf;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 3px;
    z-index: 7; }
    .list-videos .counter-video .number-video {
      width: 100%;
      font-family: "PhonakRotis-Bold", arial, helvetica, sans-serif;
      color: #83847f;
      font-size: 28px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }

.magictime {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s; }

/*# sourceMappingURL=main.css.map */
