@font-face {
  font-family: "RotisSemiSerifHellenW15-Bd";
  src: url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.eot");
  src: url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.woff") format("woff"), url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.svg#RotisSemiSerifHellenW15-Bd") format("svg"); }
@font-face {
  font-family: "ATRotisSansSerif";
  src: url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.eot");
  src: url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.woff") format("woff"), url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.svg#ATRotisSansSerif") format("svg"); }
@font-face {
  font-family: "RotisSansSerif";
  src: url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.eot");
  src: url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.woff") format("woff"), url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.svg#RotisSansSerif") format("svg"); }
@font-face {
  font-family: "Agfa Rotis Sans Serif ExBd";
  src: url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.eot");
  src: url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.woff") format("woff"), url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.svg#Agfa Rotis Sans Serif ExBd") format("svg"); }
body {
  padding: 0;
  margin: 0;
  font-family: "RotisSemiSerifHellenW15-Bd", arial, helvetica, sans-serif;
  font-size: 16px;
  background: #f2f5f9; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  list-style: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.container {
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 970px; } }

header {
  background-color: #8bbc07;
  padding: 20px 0 20px;
  color: white; }
  header .description-text {
    font-family: "RotisSansSerif";
    font-size: 14px; }

.wrap {
  height: 100%; }

.wrap.first-page {
  background: url("../img/logo.png") 90% 90% no-repeat;
  background-size: 7%; }

main {
  overflow: hidden;
  padding: 50px; }

ul {
  overflow: hidden; }
  ul .w50 {
    width: 50%;
    padding-right: 15px;
    float: left; }

.item {
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer; }
  .item .wrap-img img {
    width: 100%;
    height: auto;
    display: block; }
  .item .wrap-text {
    padding: 40px 30px 50px;
    background-color: white; }
    .item .wrap-text h2 {
      color: #546c79;
      padding-bottom: 10px; }
    .item .wrap-text p {
      font-family: "RotisSansSerif";
      color: #90a2ac; }
  .item .btn-select {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #403f38; }
    .item .btn-select:hover {
      background-color: #83837f; }

/*************/
.w25 {
  width: 25%;
  float: left;
  padding: 5px; }

.item-person {
  height: 120px;
  background: url("../img/man.jpg");
  background-size: cover;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer; }

.item-person.check .hover {
  display: block; }

.item-person.not-check .hover {
  display: block;
  background-color: rgba(255, 255, 255, 0.65); }
  .item-person.not-check .hover p {
    display: none; }

.hover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 600; }
  .hover p {
    margin-top: 32px;
    font-family: "Agfa Rotis Sans Serif ExBd"; }

.main-btn {
  font-family: "Agfa Rotis Sans Serif ExBd";
  display: inline-block;
  text-transform: uppercase;
  color: white;
  padding: 15px 40px;
  border-radius: 25px;
  text-decoration: none;
  background-color: #ced1d2; }

.main-btn.active {
  background-color: #403f38; }

.lite-btn {
  font-family: "Agfa Rotis Sans Serif ExBd";
  color: #83837f;
  text-transform: uppercase;
  text-decoration: none; }

.number-chosen-people {
  margin: 20px 0;
  color: #83837f;
  padding: 10px 30px;
  border-radius: 35px;
  border: solid 3px #83837f;
  display: inline-block; }
  .number-chosen-people .chosen {
    font-size: 20px; }

.number-chosen-people.ready {
  color: #f2ae0c;
  border: solid 3px #f2ae0c; }

/****progress-bar*****/
.progress-bar {
  padding: 20px 0; }
  .progress-bar .segment {
    position: relative;
    float: left;
    display: block;
    width: 40px;
    height: 2px;
    background-color: #99a0af;
    margin-right: 10px; }
    .progress-bar .segment:before {
      content: "";
      position: absolute;
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: solid 2px #99a0af;
      top: 50%;
      margin-top: -5px;
      right: -10px; }
    .progress-bar .segment:first-child:after {
      content: "";
      position: absolute;
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: solid 2px #99a0af;
      top: 50%;
      margin-top: -5px;
      left: -10px; }
    .progress-bar .segment:first-child.active::after {
      border: solid 2px #8bbc07; }
  .progress-bar .active {
    background-color: #8bbc07; }
    .progress-bar .active:before {
      border: solid 2px #8bbc07; }

/****end-progress-bar*****/
.control-btns {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .control-btns .main-btn {
    padding: 15px 50px; }
  .control-btns i {
    padding: 0 10px; }

/****table****/
.table-results {
  border-collapse: collapse;
  width: 100%;
  margin: 50px 0; }
  .table-results thead tr td {
    text-transform: uppercase;
    font-family: "RotisSansSerif";
    color: #99a0af;
    font-size: 14px; }
  .table-results tbody tr td {
    font-family: "Agfa Rotis Sans Serif ExBd";
    font-size: 30px;
    padding: 10px 0; }
  .table-results tbody tr .number-td {
    font-family: "RotisSansSerif"; }

.wrap-btn.results {
  text-align: center; }

.carousel ul li.not-active .item .videoWrapper:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  border-radius: 5px; }
.carousel ul li {
  width: 100%;
  float: left; }
  .carousel ul li .item {
    position: relative;
    z-index: 5;
    padding: 10px; }
    .carousel ul li .item .videoWrapper {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 25px;
      height: 0; }
    .carousel ul li .item .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px; }

/*# sourceMappingURL=main.css.map */
