@font-face {font-family: "RotisSemiSerifHellenW15-Bd";
  src: url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.eot");
  src: url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/a6ee3b6fce4463f3267a0725c3859b0c.svg#RotisSemiSerifHellenW15-Bd") format("svg");
}

@font-face {font-family: "ATRotisSansSerif";
  src: url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.eot");
  src: url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/4fed193a90da7f032596e2e6764dac8c.svg#ATRotisSansSerif") format("svg");
}

@font-face {
  font-family: "RotisSansSerif";
  src: url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.eot");
  src: url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.svg#RotisSansSerif") format("svg");
}

@font-face {font-family: "Agfa Rotis Sans Serif ExBd";
  src: url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.eot");
  src: url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/acb1014858edd2599801c37ef2bd5017.svg#Agfa Rotis Sans Serif ExBd") format("svg");
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "RotisSemiSerifHellenW15-Bd", arial, helvetica, sans-serif;
  font-size: 16px;
  background: #f2f5f9;
  height: 100%;
}

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/*****btn****/
.main-btn {
  font-family: "Agfa Rotis Sans Serif ExBd", arial, helvetica, sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  padding: 15px 40px;
  border-radius: 25px;
  text-decoration: none;
  background-color: #403f38;
  outline: none;
  border: none;
  cursor: pointer;
}

.main-btn[disabled] {
  background-color: #ced1d2;
  cursor: default;
}

.lite-btn {
  font-family: "Agfa Rotis Sans Serif ExBd", arial, helvetica, sans-serif;
  color: #83837f;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  cursor: auto;
}
.lite-btn[disabled] {
  color: #ced1d2;
  cursor: default;
}

/***end-btn*****/

.container {
  width: 100%;
  margin: 0 auto;
  @media only screen and (min-width: 1200px) {
    width: 970px;
  }
  //@media only screen and (max-width: 1200px) {
  //  width: 970px;
  //}
  //@media only screen and (max-width: 992px) {
  //  width: 750px;
  //}
  //@media only screen and (max-width: 768px) {
  //  width: 100%;
  //  padding: 0 5px;
  //}
}

.first-page {
  &:after {
    content: '';
    position: fixed;
    display: block;
    bottom: 30px;
    right: 30px;
    width: 150px;
    height: 50px;
    background: url("../img/logo.png") no-repeat 50% 50%;
    background-size: 100%;
  }
}

.main-header {
  background-color: #8bbc07;
  padding: 20px 0 70px;
  color: white;
  h1 {
    font-size: 60px;
  }
  .description-text {
    font-family: "RotisSansSerif", arial, helvetica, sans-serif;
    font-size: 18px;
  }
}

.wrap {
  height: 100%;
}

.list-device-classification {
  overflow: hidden;
  position: relative;
  top: -30px;
  .w50 {
    width: 50%;
    padding-right: 15px;
    float: left;
  }
  .item {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    .wrap-img {
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .wrap-text {
      padding: 50px 30px 60px;
      background-color: white;
      h2 {
        color: #546c79;
        padding-bottom: 20px;

      }
      p {
        font-family: "RotisSansSerif", arial, helvetica, sans-serif;
        color: #90a2ac;
      }
    }
    .btn-select {
      display: block;
      padding: 20px 0;
      text-align: center;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      background-color: #403f38;
      &:hover {
        background-color: #83837f;
      }
    }
  }
}

/******chose3person****/

.list-persons {
  overflow: hidden;
  position: relative;
  margin-top: -30px;
  .w25 {
    width: 25%;
    float: left;
    padding: 5px;
  }

  .item-person {
    height: 140px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
    }
  }

  .item-person.check .hover {
    display: block;
  }

  .item-person.not-check .hover {
    display: block;
    background-color: rgba(255,255,255,.65);
    p {
      display: none;
    }
  }
  .hover {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,.65);
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 600;
    p {
      margin-top: 32px;
      font-family: "Agfa Rotis Sans Serif ExBd", arial, helvetica, sans-serif;
      //font-size: 16px;
    }
  }
}

.number-chosen-people {
  margin: 20px 0;
  color: #83837f;
  padding: 10px 30px;
  border-radius: 35px;
  border: solid 3px #83837f;
  display: inline-block;
  .chosen {
    font-size: 20px;
  }
}

.number-chosen-people.ready {
  color: #f2ae0c;
  border: solid 3px #f2ae0c;
}


/****progress-bar*****/

//.progress-bar {
//  padding: 20px 0;
//  .segment {
//    position: relative;
//    float: left;
//    display: block;
//    width: 40px;
//    height: 2px;
//    background-color: #99a0af;
//    margin-right: 10px;
//    &:before {
//      content: "";
//      position: absolute;
//      display: block;
//      width: 6px;
//      height: 6px;
//      border-radius: 50%;
//      border: solid 2px #99a0af;
//      top:50%;
//      margin-top: -5px;
//      right: -10px;
//    }
//    &:first-child {
//      &:after {
//        content: "";
//        position: absolute;
//        display: block;
//        width: 6px;
//        height: 6px;
//        border-radius: 50%;
//        border: solid 2px #99a0af;
//        top:50%;
//        margin-top: -5px;
//        left: -10px;
//      }
//    }
//    &:first-child.active::after {
//      border: solid 2px #8bbc07;
//    }
//  }
//  .active {
//    background-color: #8bbc07;
//    &:before {
//      border: solid 2px #8bbc07;
//    }
//  }
//}

/****end-progress-bar*****/

//.control-btns {
//  width: 500px;
//  margin: 0 auto;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  i {
//    padding: 0 10px;
//  }
//}



/****table****/
.table-results {
  border-collapse: collapse;
  width: 100%;
  margin: 80px 0;
  thead {
    tr {
      td {
        text-transform: uppercase;
        font-family: "RotisSansSerif", arial, helvetica, sans-serif;
        color: #99a0af;
        font-size: 14px;
      }
    }
  }
  tbody {
    tr {
      td {
        font-family: "Agfa Rotis Sans Serif ExBd", arial, helvetica, sans-serif;
        font-size: 30px;
        padding: 10px 0;
      }
      .number-td {
        font-family: "RotisSansSerif", arial, helvetica, sans-serif;
      }
    }
  }
}

.wrap-btn.results {
  text-align: center;
}

//.carousel {
//  //overflow: hidden;
//  ul {
//    position: relative;
//    li.active .item .videoWrapper{
//      &:before {
//        display: none;
//      }
//      p {
//        display: none;
//      }
//    }
//
//    li .item .videoWrapper {
//      &:before {
//        content: '';
//        width: 100%;
//        height: 100%;
//        background: rgba(255,255,255,.7);
//        position: absolute;
//        top:0;
//        left: 0;
//        z-index: 6;
//        border-radius: 5px;
//      }
//      p {
//        font-size: 55px;
//        font-family: "Agfa Rotis Sans Serif ExBd", arial, helvetica, sans-serif;
//        color: white;
//        text-align: center;
//        width: 100%;
//        position: absolute;
//        z-index: 7;
//        top: -5px;
//      }
//    }
//    li {
//      width: 100%;
//      display: inline-block;
//      .item {
//        position: relative;
//        z-index: 5;
//        padding: 10px;
//        .videoWrapper {
//          width: 100%;
//          height: auto;
//          position: relative;
//        }
//        .videoWrapper video {
//          width: 100% !important;
//          height: auto !important;
//          border-radius: 5px;
//        }
//      }
//    }
//  }
//}


/****new-browse-all-video*****/
.wrap {
  overflow: hidden;
  .video-fullscreen {
    height: 100%;
    width: 80%;
    float: left;
    .videoWrapper {
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      video {
        //position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        object-fit: cover;
        -o-object-fit: cover;
        -moz-object-fit: cover;
        -m-object-fit: cover;
        -webkit-object-fit: cover;
      }
    }
  }
  .aside-header {
    width: 20%;
    float: right;
    header {
      background-color: #8bbc07;
      padding: 40px 20px 80px;
      h1 {
        color: white;
        font-size: 60px;
      }
      .description-text {
        color: white;
        padding-top: 20px;
        font-size: 18px;
      }
    }
  }
}

.w33 {
  width: 33.333%;
  float: left;
  padding: 0 5px;
}

.wrap-aside {
  padding: 10px;
  .control-video-btns {
    .main-btn {
      width: 100%;
      margin-bottom: 30px;
    }
    i {
      padding: 0 10px;
    }
  }
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.list-videos {
  overflow: hidden;
  position: relative;
  top: -30px;
  margin-bottom: 30px;
  li {
    padding-bottom: 10px;
  }
  .wrap-item {
    //padding-bottom: 5px;
    position: relative;
    overflow: hidden;
    padding-bottom: 66.7%;
    height: 0;
    border-radius: 5px;
    z-index: 7;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 6;

    }
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%
    }
    .number-video {
      font-size: 46px;
      font-family: "Agfa Rotis Sans Serif ExBd", arial, helvetica, sans-serif;
      color: white;
      text-align: center;
      width: 100%;
      position: absolute;
      z-index: 7;
      top: 8px;
    }
  }
  .counter-video {
    border: solid 2px #99a0b0;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    z-index: 7;
    .number-video {
      color: #82837e;
      font-size: 32px;
      padding-top: 12px;
    }
  }
}

